<main>

	<h2>You are viewing: {{this.name}}
	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

			{{this.img}}
		</h2>

		<div id="img-preview">
			<img src="{{donut.img}}">
		</div>

		<br>
		<h3>Description:</h3>
		<p>

			{{this.description}}
		</p><br>
		<h3>Price:</h3>
		<p id="cost">$ {{this.price}} each</p><br>

		<h3 id="quantity">

			{{this.qty}} remaining

		</h3>

		<br>

		<a href="/donuts/{{donut._id}}/edit">Edit</a>

		<<<< BONUS: BUTTON THAT UPDATES THE COUNT>>>>

	</div>

	<a href="/donuts/{donut._id}}/delete">Delete</a>


</main>